# Copy to .env or run: sh init_env.sh
ENVS_ROOT=
PYTHON=python3
NODE=node
NPM=npm
NPM_CACHE=
JAVASCRIPT_NODE_MODULES=
TYPESCRIPT_NODE_MODULES=
MAVEN=mvn
MAVEN_LOCAL_REPO=
CXX=g++
CXXFLAGS='-std=c++20 -O2 -pthread'
